<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Convert_Programs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Convert_Programs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <Convert_Programs.Properties.Settings>
            <setting name="CMS1097" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>224  MTRFLD 90 DEG V GROOVE 1097 </string>
                        <string>-90-1097</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CMS1283" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>43  MTRFLD 90 DEG V GROOVE 1283</string>
                        <string>-90-1283</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CMS1284" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>69  MTRFLD 90 DEG V GROOVE 1284 </string>
                        <string>-90-1284</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CMS1285" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>49  MTRFLD 90 DEG V GROOVE 1285 </string>
                        <string>-90-1285</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="machines" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>CMS1097</string>
                        <string>CMS1283</string>
                        <string>CMS1284</string>
                        <string>CMS1285</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="errMailSub" serializeAs="String">
                <value>Error in 'Convert Programs'</value>
            </setting>
        </Convert_Programs.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Convert_Programs.Properties.Settings>
            <setting name="lastDir" serializeAs="String">
                <value />
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="devEmail" serializeAs="String">
                <value>kcjuntunen@amstore.com</value>
            </setting>
        </Convert_Programs.Properties.Settings>
    </userSettings>
</configuration>